.arial1{font-family:Arial,Helvetica,sans-serif;font-size:10px;}
.arial11{font-family:Arial,Helvetica,sans-serif;font-size:12px}
.arial2{font-family:Arial,Helvetica,sans-serif;font-size:13px;text-decoration:none;letter-spacing:normal}
.arial2bold{font-family:Arial,Helvetica,sans-serif;font-size:13px;font-weight:bold;text-decoration:none}
.arial3{font-family:Arial,Helvetica,sans-serif;font-size:18px;font-weight:normal;}
.arial3bold{font-family:Arial,Helvetica,sans-serif;font-size:18px;font-weight:bold;}
.arial4bold{font-family:Arial,Helvetica,sans-serif;font-size:19px;font-weight:bold;}
.BodyHEADERS{font-size:14px;font-style:normal;font-weight:bold;font-variant:normal;color:#000000;}
.BODYstyle{font-size:12px;font-style:normal;font-weight:none;font-variant:normal;color:#000000;}
.buy:link{text-decoration:none;color:#CC0000;font-weight:bold;}
.buy:visited{text-decoration:none;color:#CC0000;font-weight:bold;}
.buy{text-decoration:none;color:#CC0000;font-weight:bold;}
.buybutton{text-decoration:none;color:#CC0000}
.buybutton1{text-decoration:underline;color:#CC0000}
.cartfont{font-family:Arial,Helvetica,sans-serif;font-size:11px;}
.category-header{text-decoration:underline;color:#0000CC}
.cattitle{font-size:14px;font-weight:bold;color:#000000;}
.compcpt-hdr{font-family:Arial,Helvetica,san-serif;font-size:14px;font-weight:bold;color:#000000;}
.compcpt-txt{font-family:Arial,Helvetica,san-serif;font-size:10px;color:#000000;}
.details{font-size:11px;color:#666666;}
.details-lessrebate{font-size:13px;}
.details-price{font-size:18px;color:#CC0000;}
.details-pricebold{font-size:18px;color:#CC0000;font-weight:bold;}
.dropdownbox{width:180px;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;padding-top:2px;padding-right:2px;padding-bottom:2px;padding-left:2px}
.dropdownboxSearch{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;padding-top:2px;padding-right:2px;padding-bottom:2px;padding-left:2px}
.emailfriend{text-decoration:none;color:#000000;font-family:Arial,Helvetica,san-serif;font-size:13px;vertical-align:middle;}
.emailoffers:link{color:#000000;font-weight:normal;}
.emailoffers{color:#000000;font-weight:normal;}
.even{background-color:#FFFBF7}
.font_size1{font-size:10px;}
.font_size1bold{font-size:10px;font-weight:bold;}
.font_size2{font-size:11px;}
.font_size2bold{font-size:11px;font-weight:bold;}
.font_size3{font-size:13px;}
.font_size3bold{font-size:13px;font-weight:bold;}
.font2gold{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#6B5B00;}
.fontsize4blu{font-size:14px;color:#015eba;font-weight:bold;}
.fontwhtsz3b{font-family:Arial,Helvetica,sans-serif;font-size:13px;font-weight:bold;color:#FFFFFF;}
.footerlink{font-size:11px;font-weight:bold;color:#000000;line-height:16px;left:auto;top:auto;clip:rect(autoautoautoauto);}
.footer_titleBar {height:21px; color:#FFF; background:#184684;}
.footer_titleBar div {padding-top:3px; padding-left:5px;}
.galleryimg{border:#000000;}
.hdrFnt1{font-family:Arial,Helvetica,sans-serif;font-size:9pt;}
.heading{font-size:18px;color:#015EBA;font-weight:bold;}
.heading2{font-size:12px;color:#015EBA;font-weight:bold;}
.help:hover{color:#000066;text-decoration:underline;}
.help:visited{color:#0033CC;text-decoration:none;}
.help{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:xx-small;text-decoration:none;color:#0033CC;}
.highlight{color:blue;text-decoration:none;font-size:10}
.idBreadCrumb{font-size:12px;color:#666666;}
.info:link{text-decoration:none;color:#0066CC;font-weight:bold;}
.info{text-decoration:none;color:#0066CC;font-weight:bold;}
.infobutton{text-decoration:none;color:#0000CC}
.item{color:black;text-decoration:none;cursor:hand;font-size:10;}
.item1{color:black;text-decoration:none;font-size:10}
.LINKSstyle{font-family:Arial,Helvetica,sans-serif;font-size:12px;font-style:normal;font-weight:normal;color:#0000FF;text-decoration:underline;}
.lnk:link{text-decoration:none;color:#0066CC;}
.lnk{text-decoration:none;color:#0066CC;}
.lrg{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:x-small;color:#000066;font-weight:bold;}
.mapSColor{color:#FF0000;}
.mapTColor{color:#CC0000;}
.med{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:xx-small;color:#000000;}
.moreinfo{text-decoration:none;color:#000000}
.msh_bluebarlinks:link{color:#FFFFFF;text-decoration:none;}
.msh_bluebarlinks{color:#FFFFFF;text-decoration:none;}
.msh_GblTxtLinks:link{color:#074984;text-decoration:none;}
.msh_GblTxtLinks{color:#074984;text-decoration:none;}
.msshdtxt{color:#FFFFFF;}
.msthd-nav{font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;color:#FFFFFF;text-decoration:none;}
.odd{background-color:#FFFFFF}
.pagenav{text-decoration:none;color:#0000CC;font-family:Arial,Helvetica,san-serif;font-size:11px;vertical-align:absmiddle;font-weight:bold;}
.pgnav:link{text-decoration:none;color:#000000;font-weight:bold;}
.pgnav{text-decoration:none;color:#000000;font-weight:bold;}
.price{font-weight:bold;color:#CC0000;text-align:center;vertical-align:top;}
.prodbuyinfo{font-size:11px;font-weight:bold;color:#666666;}
.prodmoredeals{font-size:10px;color:#000000;}
.prodprice{font-size:12px;color:#CC0000;font-weight:bold;}
.prodspecs{font-size:10px;font-weight:normal;color:#000000;list-style-type:none;list-style-position:inside;list-style-image:url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/frontproducts/bullet.gif?yocs=2m_2E_&yoloc=us);}
.prodtitle{font-size:12px;font-weight:bold;color:#000000;}
.prodmessage{line-height: 17px;color: #CC0000;font-weight: bold;font-size: 12px;}
.rightnav_Titlebar{background-color:#184684; padding-left:8px;}
.search{text-decoration:none;color:#0000CC;font-family:Verdana,Arial,Helvetica,san-serif;font-size:10px;vertical-align:middle;}
.sidenav_grey{font-size:11px;color:#000000;font-weight:normal;line-height:16px;padding-left: 2px;}
.sidenav_grey2{font-size:11px;color:#656262;font-weight:normal;line-height:16px;}
.sidenav_red{font-size:10px;font-weight:bold;color:#CC0000}
.sidenav{color:#000000;text-decoration:none;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px}
.sidenav_titlebar {font-weight:bold; color:#fff; background-color:#184684; padding:2px; margin:5px 0;}
.slcinfo{text-decoration:none;color:#0000CC;font-family:Arial,Helvetica,sans-serif;font-size:12px}
.splan{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:xx-small;color:#000000;}
.strikethrough{color:#000000;text-decoration:line-through;}
.subcategory{font-size:11px;color:#0066FF;font-weight:normal;left:auto;top:auto;clip:rect(autoautoautoauto);}
.subcategory-link{text-decoration:none;color:#000000}
.subCatHeading{font-size:15px;color:#015EBA;font-weight:bold;}
.textblackmed{font-size:12px;color:#000000;}
.textblacksm:link{font-size:11px;color:#000000;}
.textblacksm{font-size:11px;color:#000000;}
.textgrey{font-size:11px;font-weight:bold;color:#666666;}
.topnav{color:#000000;text-decoration:none}
.topoffers:link{color:#000000;font-weight:normal;}
.topoffers{color:#000000;font-weight:normal;}
.vendorseemore{font-size:10px;font-weight:bold;color:#666666;}
.verdana1{font-family:Arial,Helvetica,sans-serif;font-size:12px;text-decoration:none;color:#000000}
a.buy:hover{text-decoration:underline;color:#CC0000;font-weight:bold;}
a.buybutton:hover{text-decoration:underline;color;#CC0000}
a.category-header:hover{text-decoration:underline;color:#0000CC}
a.details:hover{color:#0066FF;text-decoration:underline;}
a.details:link{color:#666666;text-decoration:none;}
a.details:visited{color:#666666;text-decoration:none;}
a.emailfriend:hover{text-decoration:none;color:#CC0000;font-family:Arial,Helvetica,san-serif;font-size:13px;vertical-align:middle;}
a.emailoffers:hover{color:#0066FF;text-decoration:none;}
a.emailoffers:visited{color:#000000;text-decoration:none;}
a.footerlink:hover{color:#0066FF;text-decoration:underline;}
a.footerlink:link{color:#000000;text-decoration:none;}
a.footerlink:visited{color:#000000;text-decoration:none;}
a.idBreadCrumb:hover{color:#0066FF;text-decoration:underline;}
a.idBreadCrumb:link{color:#666666;text-decoration:none;}
a.idBreadCrumb:visited{color:#666666;text-decoration:none;}
a.info:hover{text-decoration:underline;color:#0066CC;font-weight:bold;}
a.info:visited{text-decoration:none;color:#0066CC;font-weight:bold;}
a.infobutton:hover{text-decoration:underline;color;#0000CC}
a.lnk:hover{text-decoration:underline;color:#0066CC;}
a.lnk:visited{text-decoration:none;color:#0066CC;}
a.moreinfo:hover{text-decoration:none;color:#CC0000}
a.msh_bluebarlinks:hover{color:#F5EFBD;text-decoration:none;}
a.msh_bluebarlinks:visited{color:#FFFFFF;text-decoration:none;}
a.msh_GblTxtLinks:hover{color:#0B7CE1;text-decoration:underline;}
a.msh_GblTxtLinks:visited{color:#074984;text-decoration:none;}
a.msshdtxt:hover{color:#FFFFFF;text-decoration:underline;}
a.msshdtxt:link{color:#FFFFFF;text-decoration:none;}
a.msshdtxt:visited{color:#FFFFFF;text-decoration:none;}
a.msthd-nav:hover{font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;color:#FFFFFF;text-decoration:underline;}
a.pagenav:hover{text-decoration:underline;color:#0000CC;font-family:Arial,Helvetica,san-serif;font-size:11px;vertical-align:absmiddle;font-weight:bold;}
a.pgnav:hover{text-decoration:underline;color:#CC0000;font-weight:bold;}
a.pgnav:visited{text-decoration:none;color:#000000;font-weight:bold;}
a.prodbuyinfo:hover{font-size:11px;color:#FF0000;text-decoration:underline;}
a.prodbuyinfo:link{font-size:11px;color:#FF0000;text-decoration:none;}
a.prodbuyinfo:visited{font-size:11px;color:#FF0000;text-decoration:none;}
a.prodmoredeals:hover{color:#0066FF;text-decoration:underline;}
a.prodmoredeals:link{color:#666666;text-decoration:none;}
a.prodmoredeals:visited{color:#666666;text-decoration:none;}
a.search:hover{text-decoration:underline;color:#0000CC;font-family:Verdana,Arial,Helvetica,san-serif;font-size:10px;vertical-align:middle;}
a.sidenav:hover{text-decoration:none;color:#FFFFFF}
a.sidenav_grey:visited{font-size:11px;color:#000000;text-decoration:none;font-weight:normal;}
a.sidenav_grey:hover{color:#0066FF;text-decoration:underline;}
a.sidenav_grey:link{color:#000000;text-decoration:none;}
a.sidenav_grey2:hover{color:#0066FF;text-decoration:underline;}
a.sidenav_grey2:link{color:#656262;text-decoration:none;}
a.sidenav_grey2:visited{font-size:11px;color:#656262;text-decoration:none;font-weight:normal;}
a.slcinfo:hover{text-decoration:underline;color:#0000CC;font-family:Arial,Helvetica,sans-serif;font-size:12px}
a.subcategory:hover{color:#0066FF;text-decoration:underline;}
a.subcategory:link{color:#0066FF;text-decoration:none;}
a.subcategory:visited{color:#0066FF;text-decoration:none;}
a.subcategory-link:hover{text-decoration:underline;color:#0000CC}
a.textblacksm:hover{color:#0066FF;text-decoration:underline;}
a.textgrey:hover{color:#0066FF;text-decoration:underline;}
a.textgrey:link{color:#666666;text-decoration:none;}
a.textgrey:visited{color:#666666;text-decoration:none;}
a.topnav:hover{text-decoration:none;color:#FF1417}
a.topoffers:hover{color:#0066FF;text-decoration:none;}
a.topoffers:visited{color:#000000;text-decoration:none;}
a.vendorseemore:hover{color:#003399;text-decoration:underline;}
a.vendorseemore:link{color:#003399;text-decoration:none;}
a.vendorseemore:visited{color:#666666;text-decoration:none;}
a.verdana1:hover{font-family:Arial,Helvetica,sans-serif;font-size:12px;text-decoration:none;color:#FFFFFF}
a:active{text-decoration:none;color:#0066CC;}
a:hover{text-decoration:underline;color:#0066CC;}
a:link{text-decoration:none;color:#0066CC;}
a:visited{text-decoration:none;color:#0066CC;}
body{font-family:Arial,Helvetica,sans-serif;margin-top:2px;margin-bottom:2px;margin-left:2px;margin-right:2px;}
FORM{MARGIN-TOP:0px;MARGIN-BOTTOM:0px}
TABLE.details{font-family:Arial,Helvetica,sans-serif;font-size:12px;padding:2px;}
#addtocartbtn_sm {width: 72px; height: 20px; margin: 0; padding: 0; border: 0; background: transparent url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/main/buynow_sm.gif?yocs=2m_2E_&yoloc=us) no-repeat center top; text-indent: -1000em; cursor: pointer; /* hand-shaped cursor */ cursor: hand; /* for IE 5.x */}
#addtocartbtn_lg {width: 135px; height: 35px; margin: 0; padding: 0; border: 0; background: transparent url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/main/buynow_lg.gif?yocs=2m_2E_&yoloc=us) no-repeat center top; text-indent: -1000em; cursor: pointer; /* hand-shaped cursor */ cursor: hand; /* for IE 5.x */}
/*Bookmark Style
/* set general menu settings */
	.bookmarks * {
		margin: 0px;
		padding: 0px;
		border: 0px;
		text-decoration:none;
		list-style-type:none;
		font-family: tahoma;
		font-size: 11px;
	}

/* set styles for container div */
	.bookmarks {
		float: right;
		width: 100%; 
		height: 22px;
		font-size: 11px;
		position:relative;
		z-index:100;
	}

/* set styles images */
	.bookmarks img {
		border:0px;
		vertical-align: middle;
	}

/* set styles for container div */
	.bookmarks a, .bookmarks {
		display: block;
		font-size: 11px;
		background-color: #ffffff; 
	}


/* set style for main button */
	#topLI {
		color: #ffffff;
		background-color: #184684;
		cursor: default;
		width: 100%;
		height: 22px;
		text-indent: 8px;
		line-height: 22px;
		font-weight: bold;
		font-family: Arial, Helvetica;
		font-size: 12px;
		}
		
/* set style for main button Pink */
	#topPink {
		color: #ffffff;
		background-color: #A20B63;
		cursor: default;
		width: 100%;
		height: 22px;
		text-indent: 8px;
		line-height: 22px;
		font-weight: bold;
		font-family: Arial, Helvetica;
		font-size: 12px;
		}		


/* set style for links in the popup*/
	#bookmarkContainer a, #bookmarkContainer a:visited {
		background: #DCE6FB; 
		color:#000000; 
		width:100%;
	}
	
	#bookmarkContainer a:hover {
		background-color: #C0CFEE;
	}

/* set style for popup container */
	#bookmarkContainer {
		visibility:hidden;
		position:absolute;
		top:22px;
		left: -59px; 
		width: 220px;
		height: 187px;
		background-color: #DCE6FB;
		border: #184684 3px solid;
		overflow: hidden;
	}

	#bookmarkContainer .top {
		padding-top: 2px;
		color: #184684;
		font-weight: bold;
		background: #C0CFEE;
		height: 20px;
		border-bottom: #184684 1px solid;
	}

	.bookmarkLinkLeft a {
		padding-left: 3px;
		padding-top: 3px;
		padding-bottom: 1px;
	}

	.bookmarkLink a {
		padding-top: 3px;
		padding-bottom: 1px;
	}

	.iehacks {
		padding-top:2px;
	}
	
	
	.scmainbg {
   background-color: #F0F0F0; 
}

.sctitlebg {
   background-color: #0069BC; 
}

.sctitleclr {
   color: #FFFFFF;
}

.allcatbg {
   background-color: #0069BC; 
}
.footerbars{
background-color:#184684 !important;
}
/* mobile contents need to be hided by default */
/* NATGITSD-3514 - PCS Mobile Web - Responsive My Account pages */
.mobileMain{display:none;}
.accountLogin{width:775px; display:none; }