/* TigerDirect Styles */
/*---------Sprites-----------*/
.liveChat,.searchBox,.searchGo,.dropdownLink .arrow,.cartSprite{background-image:url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/td/masthead_v2/masthead-sprite.png?yocs=2m_2E_&yoloc=us);background-repeat: no-repeat;}

.changeView li a,.action,.action span,.navAction,.navAction span,.stars,.stars-sm,.submit,.submit span,.alertSubmit,.compareBar li a,.bar,.bar2,.checkoutSubmit,.servicePlan .plusIcon{background-image:url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/td/glbl-sprite-sitewide.png?yocs=2m_2E_&yoloc=us)!important;background-repeat:no-repeat;}

.seeMore,.secondary,.secondary span,.tertiary,.tertiary span,.secondAction,.secondAction span,.thirdAction,.thirdAction span,.shareFunctions li a,.compareSubmit,.slidePrev span,.slideNext span, a.close,.cartUpsellTab li a,.fourth,.fourth span,.mapprice,.mappricea,.mappriceb,.toolTip,.remove,#calloutLinks a,.iconInfo,.iconArrow{background-image:url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/td/glbl-sprite-blue.png?yocs=2m_2E_&yoloc=us)!important;background-repeat:no-repeat;}

.breadCrumbs li{background-image:url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/td/breadcrumb-arrow.gif?yocs=2m_2E_&yoloc=us)!important;background-repeat:no-repeat;}
.flag li,.mesgFreeShip,.moreImg,a.vidLabel,.box ul.media li span,a.apdf{background-image:url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/td/glbl-sprite-icons.png?yocs=2m_2E_&yoloc=us)!important;background-repeat:no-repeat;}
.chkout{background-image:url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/checkout/03-checkoutBtns-sprite.png?yocs=2m_2E_&yoloc=us)!important;background-repeat:no-repeat;}
a.selector {background-image: url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/td/icon-pulsminus.gif?yocs=2m_2E_&yoloc=us)!important;background-repeat: no-repeat;}

/*Mesage Box*/
.msgBox.msgAlert{background-image:url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/mockup/checkout/icon-alert_v3.png?yocs=2m_2E_&yoloc=us);}

/*Coupong BG*/
.cpBg{background:url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/homepageV2/h-coupon-bg.gif?yocs=2m_2E_&yoloc=us) #ffffff no-repeat;height:29px;width:150px;}

/*--------Defaults-----------*/
body{text-align:center;} /*IE For centering site in Quirks*/
.contentWrapper,.mainContent{text-align:left;}
.rightNav{float:right;width:160px;text-align:left;cursor:default;}
.rightNav #layer1{position:inherit!important;}


/*==masthead==*/
#header{background:#005cb9!important;height:127px!important; min-width:960px;}
#header ul, #header  li {list-style: none;}
.mastheadOuter{color:#fff;width:960px;margin:0 auto;position:relative;z-index:550;height:90px;}
.mastheadOuter a,.mastheadOuter a:link,.mastheadOuter a:visited,.mastheadOuter a:hover{color:#ade8fe;}

.mastheadTopL{float:left;position:relative;z-index:15;}
.mastheadTopR{float:right;position:relative;text-align:right;width:40.6%;}

.headerLogoWrap{float:left;width:165px;text-align:left;margin-top:17px;}
.headerLogo{background-image:url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/td/masthead_v2/masthead-logo-yw-v1.png?yocs=2m_2E_&yoloc=us);background-repeat: no-repeat;width: 164px;height: 30px;display: block;text-indent: -9999px;}
.headerLiveHelp{font-size:11px;margin-top: 5px;white-space:nowrap;}
.liveChat{background-position:-379px -123px;display:inline-block;line-height:19px;height:20px;padding-left:25px;vertical-align:middle;}

.shopWrap{float:left;margin-left:20px;margin-top:8px;}
.shopLinks{margin:0 0 5px 5px;padding:0 0 1px;overflow:hidden;}
.shopLinks li a{background-image:url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/td/masthead_v2/shoplinks_v2.png?yocs=2m_2E_&yoloc=us);background-repeat:no-repeat;display:block;text-indent:-9999px;height:28px;}
.shopLinks li{float:left;margin-right:16px;display:inline;}
.shopLinks li.link1 a{background-position:0 -6px;width: 78px;}
.shopLinks li.link1 a:hover{background-position:-200px -6px;}
.shopLinks li.link2 a{background-position:0 -36px;width: 76px;}
.shopLinks li.link2 a:hover{background-position:-200px -36px;}
.shopLinks li.link3{margin-right:0;}
.shopLinks li.link3 a{background-position: 0 -66px;width: 96px;}
.shopLinks li.link3 a:hover{background-position:-200px -66px;}
.shopLinks li.link4 a {background-position: 0 -96px;width: 66px;}
.shopLinks li.link4 a:hover{background-position:-200px -96px;}

.navSearch{clear:both;margin:0;padding:0;}
.searchBox{background-position:0 0;height:34px;position:relative;width:380px;text-align:left;}
.searchBox .inputSearch{border:0;outline:none;line-height:20px;height:20px;margin:6px;width:330px;}
.searchGo{background-position:0 -44px;border:0;cursor:pointer;margin:0;padding:0;position:absolute;top:0;right:0;vertical-align:middle;text-indent:-9999px;width:40px;height:34px;}
.searchGo span{text-indent:-9999px;}
.searchGo:hover{background-position:0 -79px;}

.userLinks{padding:0;margin:0;height:15px;position:absolute;top:10px;right:0;white-space:nowrap;width:600px;z-index:10;}
.userLinks li.nav-user{border-right:#ade8fe 1px solid;display:inline-block;float:right;line-height:12px;padding:0 8px;position:relative;}
.userLinks li.dropdown{border-right:none;line-height:20px;height:20px;top:-4px;left: -1px;padding-right:8px;z-index:10;}
.dropdownLink{padding-right:0;white-space:nowrap;}
.dropdownLink .arrow{background-position: 2px -156px;width:15px;height:15px;position:relative;bottom:-2px;}
.dropdownHover{display:none;background-color:#ededed;padding:5px;position:absolute;top:20px;right:0;z-index:550;width:auto!important;width:120px;min-width:120px;}
.dropdownHover .dropdownSection{background-color:#fff;padding:10px;text-align:left;}
li.dropdown:hover{background-color: #EDEDED;border-radius:3px 3px 0 0;}
li.dropdown:hover .dropdownLink{color:#267AB7;}
li.dropdown:hover .dropdownLink .arrow{background-position: 2px -182px;}
li.dropdown:hover .dropdownHover{display:block;}
.navHelp{margin:-5px 0 -7px;padding:0;}
.navHelp li{margin:2px 0;padding:0px;line-height:13px;}
.navHelp a,.navHelp a:link,.navHelp a:visited{color:#267AB7;}
.navHelp a{display:block;padding:2px 0;}
.navHelp a:hover{background-color:#eaf3fe!important;color:#00aeff;}
.navHelp .liveChat{background-image:none;height:auto;}

.nav-divider-after{border-bottom:#EDEDED 1px solid;}
.navHelp .nav-divider-after{padding-bottom:6px;margin-bottom:4px;}

.userGreetingWrap{border-right:#1a6dc0 1px solid;float:right;text-align:left;margin:38px 12px 0 0;padding-right:12px;max-width:210px;}
.userGreeting{display:block;font:bold 18px arial;color:#fed443;text-decoration:none;max-width: 220px;white-space: nowrap;overflow: hidden;}
.userSignin img{vertical-align:middle;}

.cartWrap{float:right;width:146px;margin-top:30px;overflow:visible;}
.cartSprite{display:block;background-position:-351px -216px;width:50px;height:52px;position:relative;float:left;z-index:1;}
#cart_item_count{position:absolute;top:5px;left:10px;font:bold 14px arial;color:#00338c;text-align:center;width:20px;overflow:hidden;}

.cartWrap .itemTotal:link,.cartWrap .itemTotal:hover,.cartWrap .itemTotal:visited{color:#FFFFFF;text-decoration:none;}
.cartWrap .itemTotal{color:#FFFFFF;text-decoration:none;text-align: left;float: left;margin-top:15px;margin-left:2px;max-width: 94px;}
.itemTotal .cartLabel{display:block;white-space:nowrap;font-weight:bold;}

/*header-nav*/
.navWrap{background:url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/td/masthead_v2/masthead-nav-bgx.png?yocs=2m_2E_&yoloc=us) #fed443 repeat-x 0 0;clear:both;}

/*---NEW NAV---*/
.mastNav-message{line-height:37px;height:37px;position:absolute;top:0;right:0;margin-right:10px;}
.mastNav-message a{color:#CC0000;font:bold 14px arial;line-height:37px;}
.mastNav-message a:hover{text-decoration:underline;}

#mast_nav{clear: both;background-repeat: no-repeat;padding: 0;position: relative;text-align: left;margin: 0 auto!important;margin-left: -1px;z-index: 500;width: 960px;}
#mast_nav .navItem{float:left;}
#mast_nav, #mast_nav .mastNav-link{background-image:url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/td/masthead_v2/masthead-nav-vert.png?yocs=2m_2E_&yoloc=us);height: 37px;}
#mast_nav .mastNav-link{display: block;text-indent: -9999px;cursor:default;}
.navItem_1 .mastNav-link{background-position:0 0;width:146px;}
.navItem_1 .mastNav-link:hover, .navItem_1:hover .mastNav-link{background-position:0 -37px;}
.navItem_2 .mastNav-link{background-position:-146px 0;width:112px;}
.navItem_2 .mastNav-link:hover, .navItem_2:hover .mastNav-link{background-position:-146px -37px;}
.navItem_3 .mastNav-link{background-position:-258px 0;width:82px;}
.navItem_3 .mastNav-link:hover, .navItem_3:hover .mastNav-link{background-position:-258px -37px;}
.navItem_4 .mastNav-link{background-position:-340px 0;width:112px;}
.navItem_4 .mastNav-link:hover, .navItem_4:hover .mastNav-link{background-position:-340px -37px;}

.navItem_2 .mastNav-subWrap{background-image:none;display:block;margin-left:-10px;}/*for navs without sub-flyouts, show subnav & adjust*/

/*#mast_nav .navItem:hover .mastNav-pop,#mast_nav .navItem.iehover .mastNav-pop{display:block;}*/
.mastNav-pop{display:none;background-color:#fed443;border-radius:0 0 6px 6px;padding:3px 4px 4px;position:absolute;z-index:100;}
.mastNav-innerWrap{background-color:#FFFFFF;border-top:#fec500 1px solid;padding:10px 0 10px 10px;position:relative;margin:0;overflow:hidden;zoom:1;z-index:5;}

.mastNav-menu{float:left;width:185px;}
.mastNav-flyout{float:left;position:relative;}

.mastNav-cats{padding:0;margin:0 10px 0 0;position:relative;}
.mastNav-cat a,.mastNav-singlecat a{display: block;cursor: pointer;background:none;line-height: 14px;padding: 4px 20px 5px 5px;text-decoration: none;font-size: 13px;height: auto!important;height: 1%;}
.mastNav-cat a:hover{text-decoration:underline;}
.mastNav-cat.hover a{background:url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/td/masthead_v2/mastNav-link-arrow.png?yocs=2m_2E_&yoloc=us) #005cb9 100% 50% no-repeat;color:#FFFFFF;text-decoration:none;}
.mastNav-singlecat.hover a{background:none;background-color:#005cb9;color:#FFFFFF;}
.mastNav-cat-highlight a{color:#ec8601;}
.mastNav-divider-top{border-top:1px solid #d4d4d4;padding-top:3px;margin-top:3px;}

.mastNav-subWrap{display:none;background:url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/td/masthead_v2/mastNav-sub-bg-left.png?yocs=2m_2E_&yoloc=us) #fff 0 50% repeat-y;margin:-10px 0 -10px -5px;padding:10px 10px 10px 20px;position:relative;min-height:352px;overflow:hidden;width:490px;z-index:5;}
.mastNav-subCats{float:left;padding:0;padding-right: 20px;margin:0;width: 200px;}
.mastNav-subCats .mastNav-cat a:hover{background-image:none;background-color:#005cb9;color:#FFFFFF;text-decoration:none;}

.mastNav-cat .mastNav-title a:hover{background:none;color: #333333;}
.mastNav-title,.mastNav-title a{background:none;color: #333333;font:normal 18px/1 arial;padding:0;text-decoration:none;}
.mastNav-title{margin:0 0 5px;padding-left:5px;}
.navCat-title{margin-top:5px;}

.mastNav-1cols{width:230px;}
.mastNav-2cols{width:460px;}

.mastNav-promo{position:absolute;bottom:0;right:0;z-index: -1;}

/*mastnav insider signup*/
.mastNav-insider{margin-right:10px;width:220px;}
.mastNav-insider .tabSignupTitle{margin:0 0 10px;font:normal 18px/1 arial;}
.mastNav-insider .tabSignupTxt{margin:0;}
.mastNav-insider .signupFloatInputFields{margin:10px 0;}
.mastNav-insider .navInsiderInput{border: 1px solid #ccc;line-height:24px;height:24px;font:normal 15px/1 arial;padding:3px;width:210px;margin-bottom: 5px;}
.mastNav-insider .tabSignupFootnote{margin:0 0 8px;}
.mastNav-insider .tabSignupImg{}
#navInsiderMesg{font-size:17px;font-weight:bold;line-height:20px;}

/*masthead message*/
.topStrip{background-color:#fff;height:23px;color:#000;font:normal 18px arial;line-height:22px;text-align:center; padding:2px 0;}
.topStrip small{font-size:11px;}
.topStrip a{text-decoration:underline;}

.headerMessage{background-color:#fff;font-weight:bold;font-size:14px;line-height:30px;height:30px;width:960;margin:0 auto;text-align:center;}
.headerMessage a{text-decoration:underline;}

/*Foter ======================================*/
#footerWrap{background-color:#005CB9; min-width:960px;}
.customerService{border-bottom: #004B97 1px solid;}
.customerService h6 span {background-color: #004183;}
.customerHelp{border-top: #006EDE 1px solid;border-bottom: #004B97 1px solid;}
.secureSeals{border-top: #006EDE 1px solid;border-bottom: #004B97 1px solid;}
.footerCopy{border-top: #006EDE 1px solid;}
.alertSignup{background-color: #004183;}
.customerService div.footerShare{width: 640px;}
.footerShare a{background-image: url(https://cdn-us-cf2.yottaa.net/56abbca0312e5815f5000542/e42d88e0d50401335179123dfe2baf36.yottaa.net/v~13.40/td/footer/share-connect_v2.gif?yocs=2m_2E_&yoloc=us);}
.footerShare .shareGP{background-position:-430px 0;background-repeat:no-repeat;}
.footerShare .shareYoutube{background-position:-560px 0;background-repeat:no-repeat;width:80px;}

/*homepage*/
#homeFeatured .sidePromos h2{float:none;}
.sidePromos{padding-left:10px;margin-bottom:10px;}
.sidePromos .side-dod{border-bottom:1px solid #D4D4D4;padding-bottom:10px;margin-bottom:10px;}

.sideProduct {overflow:hidden;margin-top:5px;}
.sideProduct .itemName{font-size:12px;line-height:1.2;font-weight:normal;margin:0 0 5px;}
.sideProduct .itemImage{float:right;margin-left:3px;}
.sideProduct .itemImage img{height:70px;}
.sideProduct .itemMesg{font-weight:bold;font-size:18px;margin:0 0 3px;padding-top:1px;}

.product-grsm .itemImage{width:70px;}
.product-grsm .salePrice{padding-top:5px;}
.product-grsm.salePrice .priceDecimal{display:inline;}
.product-grsm .salePrice,.product-grsm .salePrice sup{font-size:12px;}
.product-grsm .salePrice sup{font-size:10px;}
.product-grsm .itemName{}
.product-grmed .itemImage{width:87px;}

.template-v2 #diyBlock h2{font-family:Arial, Helvetica;font-size:26px;font-weight:bold;margin:0 0 20px;}
.template-v2 #diyBlock h2 small{color:#666666;display:block;font-size:12px;font-weight:normal;}
.template-v2 #diyBlock .col2{width:660px;}
.template-v2 #diyBlock .diyCells .cell{margin-left:20px;}

/*Product*/
.salePrice{font-size:21px; font-family:Arial, Helvetica, sans-serif;}
.salePrice sup{font-size:15px; vertical-align:text-top;}
.salePrice .priceDecimalMark{display: none;}
.gridView .productAction .salePrice{height:40px;}
.gridView .productAction{height:104px;}

/*billship-checkout*/
.billship-radio-off{border:0;margin:0 3px 0 4px;padding:0 0 0 1px;position:relative;bottom:2px;vertical-align:middle;}
.billship-shiptabledesc{width:350px;}
.rnavlivechat{margin:10px auto;}

/*item-detail*/
.shareFunctions li{float:none!important;}


/*Typeahead ======================================*/
.gsc-completion-container {border:1px solid #d2ddea !important;background:#FFFFFF!important;color:#000000!important;font:14px verdana, sans-serif!important;corner-radius:0;-moz-corner-radius:0;-webkit-corner-radius:0;width:338px!important;z-index:999;margin-left:-5px!important;margin-top:5px!important;}
.gsc-completion-container strong {color: #000000 !important;}
.gsc-completion-container td {padding: 3px 5px !important;color:#000000!important;font:14px arial, sans-serif!important;text-align:left;}
#csc-completion-selected,.gsc-completion-selected {background: #e2f3ff!important;}
