.ccs-cc-inline2 h2.ccs-cc-inline-section-title { background: none !important; } .ccs-cc-inline-feature { margin-top: 10px !important; } .ccs-cc-inline-feature-description h3 { line-height: 25px !important; }